.nav-container{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #d9ad7c;
    width: 100%;
}

.fixfloat{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Marck Script', cursive;
    font-weight: 600;
    font-size: 20px;
    color: #674d3c;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
   display: inline-block;
   margin-left: 70px;
   padding-top: 18px;
   padding-bottom: 15px; 

   position: relative;
}

nav a{
    text-decoration: none;
    text-transform: none;
    color: #674d3c;
    font-family: 'Handlee', cursive;
    font-weight: 600;
    size: 16px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #674d3c;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

head{
    background-color: #fff2df;
}

body{
    background-color: #fff2df;
}

.title{
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    text-align: center;
    color: #674d3c;
}

.board-grid{
    margin: 10px;
    width: 80%;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px;
    column-gap: 15px;
    row-gap: 65px;
}

.child-three{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.child-four{
    background-image: linear-gradient(to right, #674d3c, #876650e3);
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
    font-size: 36px;
    color: #c7ac9a;
}

.grid-imglink{
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    color: #d9ad7c;
    font-family: 'Handlee', cursive;
}

.child-one img{
    width: 400px;
    height: 300px;
}

.child-two img{
    width: 400px;
    height: 300px;
}

.child-three img{
    width: 400px;
    height: 500px;
}

.child-five img{
    width: 300px;
    height: 300px;
}

.child-six img{
    width: 300px;
    height: 300px;
}

.child-seven img{
    width: 300px;
    height: 300px;
}