.nav-container{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #d9ad7c;
    width: 100%;
}

.fixfloat{
    content: '';
    display: table;
    clear: both;
}

.nav-title{
    float: left;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
   display: inline-block;
   margin-left: 70px;
   padding-top: 15px;
   padding-bottom: 15px; 

   position: relative;
}

nav .navlink{
    text-decoration: none;
    text-transform: none;
    size: 16px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #674d3c;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

head{
    background-color: #fff2df;
}

body{
    background-color: #fff2df;
}

img{
    width: 330px;
    height: 560px;
    float: right;
}

.imglink{
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

.CoffeeLink{
    color: #a2836e;
    font-size: 20px;
    font-style: italic;
}

*this is an issue for the links
a{
    color: #d9ad7c;
    text-align: right;
    font-family: 'Handlee', cursive;
}

*Another issue with the links
.pagelink{
    color: #d9ad7c;
    font-size: 18px;
    font-family: 'Handlee', cursive;
}

h1{
    color: #674d3c;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
}

h3{
    color: #674d3c;
    font-size: 22px;
    font-family: 'Marck Script', cursive;
}

.ulTitle{
    color: #674d3c;
    font-size: 26px;
    font-family: 'Marck Script', cursive;
}

.olTitle{
    color: #674d3c;
    font-size: 26px;
    font-family: 'Marck Script', cursive;
}

li{
    color: #a2836e;
    font-size: 20px;
    font-family: 'Handlee', cursive;
}