.nav-container{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #d9ad7c;
    width: 100%;
}

.fixfloat{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Marck Script', cursive;
    font-weight: 600;
    font-size: 20px;
    color: #674d3c;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
   display: inline-block;
   margin-left: 55px;
   padding-top: 18px;
   padding-bottom: 15px; 

   position: relative;
}

nav a{
    text-decoration: none;
    text-transform: none;
    color: #674d3c;
    font-family: 'Handlee', cursive;
    font-weight: 600;
    size: 16px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #674d3c;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

head{
    background-color: #fff2df;
}

body{
    background-color: #fff2df;
}

p{
    color: #a2836e;
    text-align: center;
    font-family: 'Handlee', cursive;
}

.otherlinks{
    color: #d9ad7c;
    text-align: left;
    font-family: 'Handlee', cursive;
}

.pagelink{
    color: #d9ad7c;
    font-size: 18px;
    text-align: left;
    font-family: 'Handlee', cursive;
}

h1{
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    text-align: center;
    color: #674d3c;
}

h3{
    color: #674d3c;
    font-family: 'Marck Script', cursive;
    font-size: 24px;
}

.name-input{
    text-align: center;
}

.printedJS{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.classinfo{
    text-align: center;
}

.printed-classinfo{
    font-weight: bold;
    font-style: italic;
}

.group-math{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.group-comparisons{
    text-align: center;
}

/* Styles all paragraphs in group-comparisons */
.group-comparisons p {
    font-weight: bold;
    font-style: italic;
}

/* Resizes h3 for group-comparisons */
.group-comparisons h3 {
    font-size: 30px;
}

/* Displays grid for the inputs for group-comparisons */
.calinputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Displays grid for the buttons for group-comparisons */
.calbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}